.git
.gitignore
**/.git
**/.DS_Store
node_modules
pnpm-lock.yaml
yarn.lock
.npm
.pnpm-store
.cache
playwright-report
test-results
tests
coverage
artifacts
uploads
attached_assets
cypress
*.md
!.github
!.replit
!replit.yaml
!.env
!.env.*
Dockerfile*
dist/*.map