openapi: 3.0.0
info:
  title: Mundo Tango Payment API
  version: 1.0.0
  description: Payment and subscription management endpoints with ESA-44x21 security implementation
  contact:
    name: Life CEO Support
    email: support@mundotango.life

servers:
  - url: https://api.mundotango.life
    description: Production server
  - url: https://staging-api.mundotango.life
    description: Staging server

security:
  - bearerAuth: []
  - csrfToken: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRF-Token

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message (sanitized to prevent PII leakage)
        code:
          type: string
          description: Error code
      required:
        - error

    SubscriptionTier:
      type: object
      properties:
        id:
          type: string
          enum: [basic, enthusiast, professional, enterprise]
        name:
          type: string
        priceMonthly:
          type: number
        priceYearly:
          type: number
        features:
          type: array
          items:
            type: string
        limits:
          type: object
          properties:
            memories:
              type: number
            aiChats:
              type: number
            storage:
              type: string

    Subscription:
      type: object
      properties:
        id:
          type: string
        tier:
          type: string
        status:
          type: string
          enum: [active, canceled, past_due, incomplete]
        currentPeriodEnd:
          type: string
          format: date-time
        cancelAtPeriodEnd:
          type: boolean

    PaymentMethod:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [card, bank_account]
        lastFour:
          type: string
        brand:
          type: string
        expiryMonth:
          type: number
        expiryYear:
          type: number
        isDefault:
          type: boolean

paths:
  /api/payments/subscription-tiers:
    get:
      summary: Get available subscription tiers
      description: Returns all available subscription tiers with features and pricing
      tags:
        - Subscriptions
      security: []
      responses:
        '200':
          description: List of subscription tiers
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubscriptionTier'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/payments/subscribe:
    post:
      summary: Create or retrieve subscription
      description: Creates a new subscription or retrieves existing one with client secret for payment
      tags:
        - Subscriptions
      security:
        - bearerAuth: []
        - csrfToken: []
      x-rate-limit:
        limit: 10
        window: 15m
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tier:
                  type: string
                  enum: [basic, enthusiast, professional, enterprise]
              required:
                - tier
      responses:
        '200':
          description: Subscription created/retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptionId:
                    type: string
                  clientSecret:
                    type: string
                    description: Client secret for Stripe payment confirmation
                  tier:
                    type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: CSRF token validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/payments/subscription:
    get:
      summary: Get user's subscription status
      description: Returns current subscription details and payment methods
      tags:
        - Subscriptions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscription:
                    $ref: '#/components/schemas/Subscription'
                  paymentMethods:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentMethod'
                  hasActiveSubscription:
                    type: boolean

  /api/payments/cancel-subscription:
    post:
      summary: Cancel subscription
      description: Cancels subscription at the end of the current billing period
      tags:
        - Subscriptions
      security:
        - bearerAuth: []
        - csrfToken: []
      x-rate-limit:
        limit: 10
        window: 15m
      responses:
        '200':
          description: Subscription cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  cancelAtPeriodEnd:
                    type: boolean
        '400':
          description: No active subscription found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/payments/resume-subscription:
    post:
      summary: Resume cancelled subscription
      description: Resumes a subscription that was set to cancel at period end
      tags:
        - Subscriptions
      security:
        - bearerAuth: []
        - csrfToken: []
      x-rate-limit:
        limit: 10
        window: 15m
      responses:
        '200':
          description: Subscription resumed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /api/payments/payment-method:
    post:
      summary: Add payment method
      description: Adds a new payment method to the user's account
      tags:
        - Payment Methods
      security:
        - bearerAuth: []
        - csrfToken: []
      x-rate-limit:
        limit: 5
        window: 15m
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentMethodId:
                  type: string
                  description: Stripe payment method ID
                setAsDefault:
                  type: boolean
              required:
                - paymentMethodId
      responses:
        '200':
          description: Payment method added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  paymentMethod:
                    $ref: '#/components/schemas/PaymentMethod'

  /api/payments/payment-method/{id}:
    delete:
      summary: Remove payment method
      description: Removes a payment method from the user's account
      tags:
        - Payment Methods
      security:
        - bearerAuth: []
        - csrfToken: []
      x-rate-limit:
        limit: 5
        window: 15m
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Payment method ID to remove
      responses:
        '200':
          description: Payment method removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /api/payments/webhook:
    post:
      summary: Stripe webhook endpoint
      description: Receives and processes Stripe webhook events
      tags:
        - Webhooks
      security: []
      x-webhook-signature: stripe-signature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Stripe event payload
      responses:
        '200':
          description: Webhook processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
        '401':
          description: Invalid or missing webhook signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Invalid webhook payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

tags:
  - name: Subscriptions
    description: Subscription management operations
  - name: Payment Methods
    description: Payment method management
  - name: Webhooks
    description: Webhook processing endpoints